@font-face {
  font-family: aller;
  src: url(Aller_Rg.ttf); }
@font-face {
  font-family: Open Sans;
  src: url(OpenSans-Regular.ttf); }
@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf); }
html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  font-family: "roboto";
  background-color: #5E5E5E;
  font-size: 0px; }

div div,
#bar_top,
#greypage,
#cup_sub_page,
#cup_main_page,
#settings_sub_page,
#cat_sub_page,
#bgCanvas,
#login_page,
.bar {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

#loading_cover {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 100;
  position: absolute; }

#login_page {
  width: 100vw;
  height: 100vh;
  background-color: #333333;
  z-index: 19; }

#login_panel {
  font-family: Open Sans;
  width: 40vw;
  height: 32vw;
  left: 30vw;
  top: 5vw;
  background-color: #FFFFFF;
  z-index: 20;
  color: #555555;
  font-size: 1.5vw;
  padding: 3vw;
  border-radius: .5vw; }
  #login_panel #login_header {
    position: static;
    text-align: center;
    height: 20vh; }
    #login_panel #login_header img {
      height: 15vh; }
  #login_panel #login_btn_wrapper {
    text-align: center;
    width: 34vw; }
  #login_panel .inputBar {
    position: static;
    height: 20%;
    margin-top: 2vh; }
  #login_panel input {
    width: 34vw;
    border-width: 2px;
    border-style: solid;
    border-color: #BBBBBB;
    font-size: 1.5vw; }
  #login_panel input:focus ~ .floating-label,
  #login_panel input:not(:focus):valid ~ .floating-label {
    top: -5vw;
    left: 0px;
    font-size: 1vw;
    opacity: 1;
    position: relative; }
  #login_panel .floating-label {
    position: relative;
    pointer-events: none;
    left: 20px;
    top: -2.2vw;
    font-size: 1.5vw;
    transition: 0.2s ease all; }
  #login_panel button {
    color: white;
    background-color: #FFA500;
    margin-top: 2%;
    font-size: 1.2vw;
    border: 0px solid;
    padding: 1vw 2vw 1vw 2vw;
    height: 10vh; }

#bgCanvas {
  z-index: 0;
  width: 100%;
  height: 100%; }

.inline {
  display: inline-block;
  position: relative; }

.card {
  box-shadow: 0 0 .5vh 0;
  width: 16.5vw;
  height: 46%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 0.5vw;
  margin-right: 0.5vw; }
  .card * {
    font-size: 1.5vw; }

#add_card,
#sub_add_card {
  box-shadow: 0 0 2px 0px;
  background-color: #FFFFFF;
  background-image: url(../img/plus.png);
  background-position: center;
  background-size: 30vh 30vh;
  background-repeat: no-repeat; }

#bar_top {
  height: 8%;
  box-shadow: 0 0 6px 0px;
  background-color: white; }

.top_title {
  display: table; }
  .top_title a {
    text-decoration: none;
    color: black;
    font-size: 3vh;
    vertical-align: middle;
    display: table-cell;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; }

#categ_h {
  width: 90vw; }

#categ_e {
  width: 10vw;
  left: 90vw;
  text-align: right; }
  #categ_e img {
    height: 100%; }

.top_,
.top_s {
  width: 12.5%;
  text-align: center;
  position: static;
  float: left; }

.top_ {
  z-index: 2; }
  .top_:hover {
    background-color: #DDDDDD; }
  .top_ span {
    color: #000000; }

.top_s {
  z-index: 3;
  background-color: rgba(200, 200, 200, 0.5); }
  .top_s span {
    color: #000000; }

#cup_main_page {
  width: 92%;
  height: 96%;
  top: 4%;
  left: 4%;
  z-index: 1;
  background-color: #00000000; }

#cup_sub_page {
  width: 74vw;
  height: 98%;
  top: 3%;
  left: 12vw;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px 0 #000000;
  z-index: 4;
  -webkit-transition: all .2s ease-in-out; }

#settings_sub_page {
  width: 74vw;
  height: 86%;
  top: 5%;
  left: 12vw;
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 #000000;
  z-index: 4;
  -webkit-transition: all .2s ease-in-out; }

#cat_sub_page {
  width: 30vw;
  height: 86vh;
  left: 35vw;
  top: 5vh;
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 #000000;
  z-index: 4;
  -webkit-transition: all .2s ease-in-out; }

#cup_main {
  width: 96%;
  height: 80%;
  top: 8%;
  left: 2%;
  overflow: hidden; }

#cup_sub {
  width: 96%;
  height: 82%;
  top: 15%;
  left: 2%;
  overflow: hidden; }

#cup_sub_title {
  width: 40%;
  height: 15%;
  position: absolute;
  top: 0;
  left: 20vw;
  overflow: hidden;
  font-size: 5vh;
  padding: 2%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000000; }
  #cup_sub_title:hover {
    background-color: #F0F0F0; }

#arrowOut {
  width: 6vw;
  margin: 1%; }

#greypage {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3; }

.fade {
  transform: translateZ(0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-property: color, background-color; }

.hidden_top {
  top: -100% !important; }

.hidden_top_reveal {
  -webkit-transform: translate(0, 0%); }

.hidden_fade {
  display: none; }

/*            BUTTONS              */
.but_green {
  background-color: #00FF00; }
  .but_green:hover {
    background-color: #97FF97; }

.but_orange {
  background-color: #FFA500; }
  .but_orange:hover {
    background-color: #FFD17D; }

.but_ok:hover {
  background-color: #48FF00; }

.but_ed {
  top: 20%;
  height: 80%;
  border-top: solid 1px #A3A3A3;
  background-color: #FFFFFF; }
  .but_ed:hover {
    background-color: #FFC560; }

.but_del {
  top: 0%;
  height: 100%;
  background-color: #FFFFFF; }
  .but_del:hover {
    background-color: #FF4E4E; }

.slide,
.slide * {
  -webkit-transition: all .08s ease-in-out;
  text-align: center; }

#bar_bottom {
  width: 6%;
  height: 70%;
  bottom: -60%;
  left: 47%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  padding-top: .5%; }
  #bar_bottom:hover {
    background-color: white; }
  #bar_bottom #reset_btn {
    -webkit-filter: drop-shadow(0 0 4px #222);
    height: 8vh; }

#bar_left {
  display: none;
  width: 30%;
  height: 70%;
  left: -27%;
  top: 20%;
  overflow: hidden;
  background-color: #FFFFFF; }

#bar_right {
  display: none;
  width: 30%;
  height: 70%;
  right: -27%;
  top: 20%;
  background-color: #FFFFFF; }

.bar > h2 {
  margin: 1vh; }

.slideRight:hover {
  -webkit-transform: translate(89%, 0); }

.slideLeft textarea {
  display: none; }

.slideLeft:hover {
  -webkit-transform: translate(-89%, 0); }
  .slideLeft:hover textarea {
    display: inline; }

.bar {
  box-shadow: 0 0 4px 0 black;
  font-size: 2.5vh;
  color: #000000; }

.ui-tooltip {
  font-size: 2.2vh;
  border-width: 0 !important;
  border-radius: 0px;
  background-color: #646464;
  color: white;
  box-shadow: none;
  opacity: 1; }

.ui-tooltip-content {
  position: static; }

#nbarea {
  text-align: left;
  width: 80%;
  height: 80%;
  resize: none;
  font-family: Roboto;
  font-size: 16px; }

#taskTable {
  width: 100%;
  border-collapse: collapse; }
  #taskTable > tbody {
    border: white solid .4vw; }

#taskList {
  height: auto; }

.task {
  height: 3vh;
  border-bottom: #DDDDDD solid .5vh;
  background-color: white; }

.taskCheck {
  width: 2.5vw;
  border: white solid .4vw;
  box-sizing: border-box; }

.taskName {
  padding-left: 4vh; }

.task input {
  position: static;
  text-align: left;
  border: none;
  outline: none;
  font-size: 1.5vw; }

.addTask {
  width: 5vw; }

.taskDelete {
  background-color: #FF0000;
  width: 2.5vw;
  border: white solid .4vw;
  border-left: white solid .8vw;
  box-sizing: border-box; }
  .taskDelete:hover {
    background-color: #FF8383; }

.gg > div:first-child {
  border-left: solid .5vw #00FF00; }

.gn > div:first-child {
  border-left: solid .5vw #A1FFA0; }

.nn > div:first-child {
  border-left: solid 0.5vw rgba(255, 255, 255, 0); }

.rn > div:first-child {
  border-left: solid .5vw #FFA0A0; }

.rr > div:first-child {
  border-left: solid .5vw #FF0000; }

#btnLogout {
  position: fixed;
  right: 0px;
  bottom: 0px;
  padding: 10px;
  font-size: 2vh;
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 0 0 .5vh 0 black; }

#settings {
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 10px;
  font-size: 2vh;
  background-color: #FFFFFF;
  color: #000000;
  box-shadow: 0 0 .5vh 0 black; }

#sub_checkDiv {
  top: 2vh;
  left: 8vw;
  width: 10vw;
  height: 10vh;
  box-shadow: 0 0 .3vh 0; }

.card_t {
  height: 20%;
  box-shadow: 0px 2px 2px -2px;
  z-index: 3;
  border-bottom: solid 1px #A3A3A3;
  background-color: #FFFFFF; }
  .card_t:hover {
    background-color: #F0F0F0; }
  .card_t input {
    height: 100%;
    text-align: center;
    padding-top: 0%;
    width: 96%;
    border: none;
    outline: none;
    background: none; }

.card_ctrl {
  width: 5%;
  right: 0;
  top: 0;
  border-left: solid 1px #A3A3A3; }

.card_b {
  height: 80%;
  top: 20%;
  display: flex;
  flex-direction: row;
  align-items: flex-end; }

.prog {
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  border-bottom: solid 4px #000000;
  -webkit-transition: width .2s; }

.box {
  position: static;
  align-self: flex-end;
  flex: 1;
  display: flex;
  flex-wrap: wrap; }
  .box .boxTag {
    height: 50%; }
  .box > .box {
    height: 50%;
    border-right: 1px solid white;
    border-top: 1px solid white; }
    .box > .box .boxTag {
      height: 60%; }
    .box > .box > .box {
      height: 40%; }

.box:last-child {
  border-right: 0; }

.boxTag {
  align-self: flex-start;
  width: 100%; }

.childlessBoxTag {
  height: 100% !important; }

#cat_sub {
  padding: 1vw 3vw 1vw 3vw;
  font-size: 6vh;
  line-height: 200%; }
  #cat_sub * {
    position: static; }
  #cat_sub td {
    border-bottom: 1vh solid white; }
  #cat_sub input {
    border: none;
    outline: none;
    height: 4vh;
    width: 20vw;
    font-size: 4vh; }
    #cat_sub input:hover {
      background-color: #F0F0F0; }
  #cat_sub .catEDelete {
    background-color: #FF0000;
    width: 4vh;
    height: 4vh;
    margin: .5vh; }
    #cat_sub .catEDelete:hover {
      background-color: #FF6868; }
  #cat_sub #AddCat {
    height: 6vh; }
  #cat_sub tfoot td {
    text-align: center; }

#settings_sub {
  padding: 4vh; }
  #settings_sub * {
    position: static;
    font-size: 2vh;
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 3vh; }
  #settings_sub .onNow {
    background-color: #000000;
    color: #FFFFFF; }
  #settings_sub .offNow {
    background-color: #FFFFFF;
    color: #000000; }
    #settings_sub .offNow:hover {
      background-color: #C7C7C7; }
  #settings_sub .settingsB {
    width: 6vw;
    height: 6vh;
    padding: 1vh;
    margin: 2vh;
    text-align: center;
    box-shadow: 0 0 .5vh 0 black; }

#tutorial_page {
  display: none;
  /*background-color: white;
  @include size(100vw, 100vh);
  position: absolute;*/
  font-size: 3vh; }
  #tutorial_page h1,
  #tutorial_page h2 {
    font-family: Arvo;
    margin-bottom: 5vh; }
  #tutorial_page h1 {
    font-size: 10vh; }
  #tutorial_page a {
    text-decoration: none;
    background-color: #FFA200;
    padding: 3vh;
    color: white; }
    #tutorial_page a:hover {
      background-color: #FFB533; }
  #tutorial_page #tut_1 {
    width: 100vw;
    height: 100vh;
    padding: 10vh 10vw 10vh 10vw;
    background-color: #FFFFFF;
    z-index: 100; }
  #tutorial_page #tut_2 {
    width: 100vw;
    height: 100vh;
    padding: 10vh 10vw 10vh 10vw;
    background-color: #FFFFFF;
    z-index: 99; }
  #tutorial_page #introSelection {
    position: static;
    height: 70%; }
    #tutorial_page #introSelection #introCategPage {
      width: 74vw; }
    #tutorial_page #introSelection .introCateg {
      display: inline-block;
      width: 16vw; }
    #tutorial_page #introSelection li {
      transition: all 0.2s ease-out;
      padding: 1vh;
      background-color: white;
      font-size: 3vh;
      height: 0;
      padding: 0;
      overflow: hidden;
      border: none; }
    #tutorial_page #introSelection .expand li {
      height: 5vh;
      display: list-item;
      border: solid #AAAAAA;
      border-width: 2px 2px 0 0; }
      #tutorial_page #introSelection .expand li:hover {
        background-color: #EEEEEE; }
    #tutorial_page #introSelection .expand .selected {
      background-color: #CCCCCC; }
      #tutorial_page #introSelection .expand .selected:hover {
        background-color: #DDDDDD !important; }
    #tutorial_page #introSelection li:first-child {
      background-color: #FFA200 !important;
      color: white;
      font-size: 4vh;
      display: list-item;
      height: 5vh;
      border: solid #AAAAAA;
      border-width: 2px 2px 0 0; }
      #tutorial_page #introSelection li:first-child:hover {
        background-color: #FFB533 !important; }
    #tutorial_page #introSelection ul {
      padding: 0;
      list-style-type: none;
      margin: 0 0 1vh 2vw;
      border: solid #AAAAAA;
      border-width: 0 0 2px 2px;
      vertical-align: top; }
  #tutorial_page #tut_2 a {
    float: right;
    z-index: 100; }
  #tutorial_page #tut_3 {
    width: 100vw;
    height: 0;
    z-index: 98; }
    #tutorial_page #tut_3 * {
      position: absolute; }
    #tutorial_page #tut_3 #tut_3_float_1 {
      width: 30vw;
      height: auto;
      top: 10vh;
      left: 10vw;
      background-color: #FFFFFF;
      box-shadow: 0 0 .5vh 0 #000000;
      padding: 3vh; }
    #tutorial_page #tut_3 #tut_3_float_2 {
      width: 25vw;
      height: auto;
      top: 10vh;
      right: 2vw;
      background-color: #FFFFFF;
      box-shadow: 0 0 .5vh 0 #000000;
      padding: 3vh; }
    #tutorial_page #tut_3 a {
      right: 2vw;
      top: 26vh;
      box-shadow: 0 0 .5vh 0 #000000; }
  #tutorial_page #tut_4 {
    width: 100vw;
    height: 0;
    z-index: 97; }
    #tutorial_page #tut_4 > div, #tutorial_page #tut_4 a {
      position: absolute; }
    #tutorial_page #tut_4 #tut_4_float_1 {
      width: 20vw;
      height: auto;
      top: 50vh;
      left: 30vw;
      background-color: #FFFFFF;
      box-shadow: 0 0 .5vh 0 #000000;
      padding: 3vh; }
    #tutorial_page #tut_4 #tut_4_float_2 {
      width: 20vw;
      height: auto;
      top: 30vh;
      left: 2vw;
      background-color: #FFFFFF;
      box-shadow: 0 0 .5vh 0 #000000;
      padding: 3vh; }
    #tutorial_page #tut_4 a {
      right: 40vw;
      top: 50vh;
      box-shadow: 0 0 .5vh 0 #000000; }
  #tutorial_page #tut_5 {
    width: 100vw;
    height: 0;
    z-index: 98; }
    #tutorial_page #tut_5 * {
      position: absolute; }
    #tutorial_page #tut_5 #tut_5_float_1 {
      width: 50vw;
      height: auto;
      top: 20vh;
      left: 10vw;
      background-color: #FFFFFF;
      box-shadow: 0 0 .5vh 0 #000000;
      padding: 3vh; }
    #tutorial_page #tut_5 #tut_5_float_2 {
      width: 25vw;
      height: auto;
      top: 74vh;
      right: 51vw;
      background-color: #FFFFFF;
      box-shadow: 0 0 .5vh 0 #000000;
      padding: 3vh; }
    #tutorial_page #tut_5 a {
      left: 51vw;
      top: 76vh;
      box-shadow: 0 0 .5vh 0 #000000; }

/*# sourceMappingURL=main.css.map */
